absl-py==0.9.0
astor==0.7.1
certifi==2020.4.5.1
chardet==3.0.4
decorator==4.4.2
gast==0.2.2
google-pasta==0.2.0
grpcio==1.23.0
h5py==2.10.0
idna==2.9
imageio==2.4.1
imageio-ffmpeg==0.4.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
Markdown==3.2.1
mkl-fft==1.0.15
mkl-random==1.1.0
mkl-service==2.3.0
moviepy==1.0.2
numpy==1.18.1
olefile==0.46
opt-einsum==0+untagged.56.g2664021.dirty
Pillow==7.0.0
proglog==0.1.9
protobuf==3.9.2
requests==2.23.0
scipy==1.1.0
six==1.14.0
tensorboard==1.15.0
tensorflow==1.15.0
tensorflow-estimator==1.15.1
termcolor==1.1.0
tqdm==4.45.0
urllib3==1.25.9
Werkzeug==0.16.1
wrapt==1.12.1
